*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  .forgotbody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .main_div{
    width: 600px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    border: 3px solid #d76258;
    border-radius: 18px;
  }
  .main_div .title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  .main_div .social_icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .social_icons a{
    display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s linear;
  }
  .social_icons a span{
    margin-left: 5px;
    font-size: 18px;
  }
  .social_icons a:first-child{
    margin-right: 5px;
    background: #4267B2;
  }
  .social_icons a:first-child:hover{
    background: #375695;
  }
  .social_icons a:last-child{
    margin-left: 5px;
    background: #1DA1F2;
  }
  .social_icons a:last-child:hover{
    background: #0d8bd9;
  }
  form {
    margin-top: 25px;
  }
  form .input_box{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 45px;
  }
  .input_box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .input_box input:focus{
    border-color: #be2edd;
  }
  .input_box .icon{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: grey;
  }
  form .option_div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .option_div .check_box{
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  .option_div span{
    margin-left: 5px;
    font-size: 16px;
    color: #333;
  }
  .option_div .forget_div a{
    font-size: 16px;
    color: #42c366;
  }
  .button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    padding-left: 0;
    background: #d76258;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
    margin-top: 35px;
  }
  /* .button input:hover{
    background: #42c366;
  } */
  form .sign_upp{
    text-align: center;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sign_upp a{
    color: #42c366;
  }
  form a{
    text-decoration: none;
  }
  form a:hover{
    text-decoration: underline;
  }
  .emailphone{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  .email {
    padding: 5px;
    border: 2px solid #42c366;
    border-radius: 10px;
    cursor: pointer;
  }

  .emailphone input{
    color: #42c366;
    background: #d76258;
    color: #fff;
  }

  .mainemailphone{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d76258;
    border-radius: 5px;
    margin-top: 35px;
}

  .withemail {
    padding: 10px;
    background: #d76258;
    color: white;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
  }

  .withphone{
    padding: 10px;
    cursor: pointer;
    width: 100%; 
    font-weight: bold;
  }

  .mainemailphone input{
    color: #42c366;
    background: #d87474;
    color: #fff;
  }

  .mainemailphone input:hover{
    background: #d76258;
  }

  /* .emailphone input:hover{
    background: #42c366;
  } */